<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buddyread</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'images/buddyread_logo.png' %}" alt="Buddyread Logo" width="80" height="64" class="me-2">
        <span class="fs-4">Buddyread</span>
    </a>

    <div class="col-md-3 text-end me-5">
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-end align-items-center">
        <span class="me-2">Hoi {{ user.username }}!</span>
        <form action="{% url 'logout' %}" method="post" class="mb-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary btn-sm">Log uit</button>
        </form>
    </div>

    {% else %}
        <a href="{% url 'login' %}" type="button" class="btn btn-outline-primary me-2">Log in</a>
    {% endif %}
    </div>
</header>

{% block content %}
{% endblock %}

</body>
</html>